<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" routerLink="home">Navbar <span class="sr-only">(current)</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a  class="nav-link" routerLink="home" >Home </a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="about" >About </a>
      </li>
      <li class="nav-item " [routerLinkActive]="['active']">
         <a class="nav-link" routerLink="services">Services </a>
      </li>
    </ul>
  </div>
</div>
</nav>
<router-outlet></router-outlet>







