<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Fluid jumbotron {{ itemcount }}</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <div class="row">
        <div class="col-sm-6">
          <form>
            <input type="text" Placeholder="Life goals" name="item" class="form-control" [(ngModel)]="goalText" />
            <button  type="button" class="btn btn-primary" (click)="addItem()">Add an item</button>
          </form>          
        </div>
        <div class="col-sm-6" [@goals]="goals.length">
          <p class="text"  *ngFor = "let goal of goals">
              {{ goal }}
          </p>
        </div>
        
      </div>
    </div>
</div>


 <div class="container">
    <div class="row">
        <div class="col-sm-12 form-group">
            {{ length }}
        </div>
        <div class="col-sm-12 form-group">
            <table class="table table-bordered table-striped">
                <thead>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Body </th>
                  </thead>
              <tr *ngFor="let d of posts">
                <td>{{ d.id }}</td>
                <td>{{ d.title }}</td>
                <td>{{ d.body }}</td>
              </tr>
            </table>
        </div> 
      </div>  
</div>  

  
  
  