<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/images/vv.png" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>First slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/vv.png" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="assets/images/vv.png" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h3>Third slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="col-sm-5">
  <h2>Login</h2>
  <form name="form">
      <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="username" required />
      </div>
      <div class="form-group" >
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password"  required />
      </div>
      <div class="form-group">
          <button  class="btn btn-primary">Login</button>
      </div>
  </form>
</div>
